<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="../static/css/center.css">
    
</head>


<body>
    <header>
        
        <div class="container">
            <nav class="navbar">
                <ul>
                
                    <img src="https://upload.wikimedia.org/wikipedia/en/9/9b/Thapar_Institute_of_Engineering_and_Technology_University_logo.png" alt="Try Reloading">
                    <li><a href="{{ url_for('index' )}}">Home</a></li>
                    <li class="play"><a href="{{ url_for('play' )}}">How To Play</a></li>
                    <li class="about"><a href="{{ url_for('about' )}}">About Us</a></li>
                    
                </ul>
            </nav>
            <h1 id="heading">SUDOKU SOLVER</h1>

        </div>
    </header>
    <section>
        <div class="king">

            <p>This website was co-created and designed by:</p>
            <ul>
                <li>• Pulkit Arora(102103267)</li>
                <li>• Ishaan Gaba(102103281)</li>
                <li>• Raghav Garg(102103283)</li>
                <li>• Sehajbir Singh Bains(102103290)</li>
                <li>• Geet Inder Singh Sodhi(102103292)</li>
            </ul>
        </div>
        
    </section>
</body>
</html>